# 02.00.01 - INIT - Dataset creation

## Prerequisites

- There is an existing manifest for the dataset you intend to create
- You have the source audio files and annotation files somewhere on your computer
- The dataset directory, database or samples subdirectory does not already exist

In [3]:
import warnings                            # This block prevents display of harmless warnings, but should be
warnings.filterwarnings('ignore')          # commented out till the final version, to avoid missing "real" warnings

import kilroy_was_here                        # Mandatory. Allow access to shared python code from repository root
from audace.jupytools import iprint           # timstamped (to the ms) print with CPU and RAM consumption information
from audace.audiodataset import AudioDataset  # Class for audio dataset handling
from audace import providers
from audace import transformers
from audace import featurizers


# Path where to find initial annotated dataset (audio and lab files)
SOURCE_PATH ='/Users/jpg/Documents/Nolasco'

# Dataset name is the master key for dataset adressing. Change it according to the
# dataset you want to generate
DATASET_NAME = 'MAIN1000'

          #############################
########### Initialize Dataset Object #
          #############################
try:
    #By providing a source path,we implicitly indicates that you want to CREATE the data set.
    # Run with a pool of 4 processes
    iprint("Dataset creation. This may take up to 10 mn. Go grab a coffee.")
    ds = AudioDataset(DATASET_NAME, SOURCE_PATH, nprocs=4)
    
except FileExistsError:
    # To allow rerun, we catch the exception in case the dataset was already created.
    # Ideally, you should create the dataset once for all in a dedicated notebook,
    # and then retrieve it from other notebooks when needed
    # Here, by not providing a source path, we implicitly express the intent of RETRIEVING
    # an existing dataset rather than CREATING a new one
    iprint("Failing back to existing dataset retrieval")
    ds = AudioDataset(DATASET_NAME)
    iprint("Dataset retrieved")
    
# Display AudioDataset summary   
ds.info()

          ##################
########### Compute Labels #
          ##################
ds.addLabel("nobee")
ds.addLabel("queen")

# The "queen" label value is deduced from the source file name, using a StringMapper transformer
# This transformer iterates over a list 2-uples (regular expression, target value) and return
# the target value as soon as a match is found. Thus, you must order your list from stricter to looser
trsfrm_queen = transformers.StringMapper(
        [('(?i)active', 1), 
         ('(?i)missing queen', 0),
         ('NO_QueenBee', 0),
         ('QueenBee', 1)     
        ])

# The transformer is then used over the source filenames, using the FromFileName labelizer
# This labelizer does not provide label strength.

n = ds.setLabel('queen', providers.FromFileName(trsfrm_queen))
iprint(n, "samples were processed for 'queen' label")

# The "nobee" label value comes from annotation files, (.lab files using the same base name as the audio
# source file they annotate), using the FromAnnotation labelizer, with no transformation.
# This labelizer takes 2 arguments:
# - a mandatory source path, pointing to the directory where the .lab files reside
# - an optional threshold, allowing to disregard any "label" event with a duration under this treshold
# The label strength over a sample is computed by summing the duration of "label" events (if > th) and dividing
# this sum by the sample duration.

# Here we use a 0.0s threshold
n = ds.setLabel('nobee', providers.FromAnnotation(SOURCE_PATH, th=0.0))
iprint(n, "samples were processed for 'nobee' label")


          ######################
########### Compute Attributes #
          ######################
#The string matcher transformer behave differently than the StringMapper. It uses regexp
# capture group to retrieve part pf a string matching a specific pattern. This can be used
# either for complex or very basic matching. Here we just ask for the five first chars,
# provided they belong to characters valid for identifiers (A-Z, a-z,0-9 and underscore)
ds.addAttribute('hive')
ds.setAttribute('hive', providers.FromFileName(transformers.StringMatcher("^(\w{5})")))


# Compute attribute fold from hive using the Decode Transformer
ds.addAttribute('fold')

e = {'CF001':1, 'CF003':1, 'CJ001':2, 'GH001':2, 'Hive1':3, 'Hive3': 4}
ds.setAttribute('fold', providers.FromQuery('hive', transformers.Decode(e)))


# Display dataset as a pandas dataframe
ds.dumpDataFrame()

[2020-08-23/21:03:32.999|27.9%|81.2%|0.03GB] Dataset creation. This may take up to 10 mn. Go grab a coffee.
[2020-08-23/21:03:33.019|12.5%|81.1%|0.03GB] >>>>> Starting Dataset MAIN5000 build
[2020-08-23/21:03:33.053|08.7%|81.1%|0.03GB] Starting to process 48 audio files.
[2020-08-23/21:09:35.046|48.9%|61.4%|0.03GB] Creating Database
[2020-08-23/21:09:35.072|26.7%|61.4%|0.03GB] Database created
[2020-08-23/21:09:35.075|00.0%|61.4%|0.03GB] Please wait, computing checksum...
[2020-08-23/21:09:39.165|12.0%|66.5%|0.03GB]   Computed checksum 852e2496370bc7b0e88910d6959ae583
[2020-08-23/21:09:39.165|00.0%|66.5%|0.03GB]   Expected checksum 964a87370f449298e0ef681efe6094bb
[2020-08-23/21:09:39.165|00.0%|66.5%|0.03GB] >>>>> Dataset MAIN5000 successfully created.
[2020-08-23/21:09:39.167|00.0%|66.5%|0.03GB] ------------------------------------------------------
[2020-08-23/21:09:39.168|00.0%|66.5%|0.03GB] DATASET NAME          : MAIN5000
[2020-08-23/21:09:39.168|00.0%|66.5%|0.03GB] DATASET PATH          : D:\Jupyter\ShowBees\datasets\MAIN5000
[2020-08-23/21:09:39.168|00.0%|66.5%|0.03GB] DATASET DB PATH       : D:\Jupyter\ShowBees\datasets\MAIN5000\MAIN5000.db
[2020-08-23/21:09:39.168|00.0%|66.5%|0.03GB] DATASET SAMPLES PATH  : D:\Jupyter\ShowBees\datasets\MAIN5000\samples
[2020-08-23/21:09:39.168|00.0%|66.5%|0.03GB] NB SOURCE AUDIO FILES : 48
[2020-08-23/21:09:39.169|00.0%|66.5%|0.03GB] SAMPLE RATE           : 22050
[2020-08-23/21:09:39.169|00.0%|66.5%|0.03GB] DURATION              : 5.0
[2020-08-23/21:09:39.169|00.0%|66.5%|0.03GB] OVERLAP               : 0.0
[2020-08-23/21:09:39.169|00.0%|66.5%|0.03GB] NB AUDIO CHUNKS       : 4946
[2020-08-23/21:09:39.169|00.0%|66.5%|0.03GB] ------------------------------------------------------
[2020-08-23/21:09:39.240|17.5%|66.5%|0.03GB] 4946 samples were processed for 'queen' label

HBox(children=(FloatProgress(value=0.0, description='Annotating nobee', max=48.0, style=ProgressStyle(descript…

[2020-08-23/21:09:40.761|17.2%|61.7%|0.03GB] 4946 samples were processed for 'nobee' label

           name  file_id  start_t  end_t  nobee  queen   hive  fold
0     00-000000        1      0.0    5.0  0.000    0.0  CF001     1
1     00-000001        1      5.0   10.0  0.000    0.0  CF001     1
2     00-000002        1     10.0   15.0  0.052    0.0  CF001     1
3     01-000000        2      0.0    5.0  0.000    1.0  GH001     2
4     01-000001        2      5.0   10.0  0.000    1.0  GH001     2
...         ...      ...      ...    ...    ...    ...    ...   ...
4941  47-000113       48    565.0  570.0  0.808    1.0  Hive3     4
4942  47-000114       48    570.0  575.0  1.000    1.0  Hive3     4
4943  47-000115       48    575.0  580.0  0.420    1.0  Hive3     4
4944  47-000116       48    580.0  585.0  0.000    1.0  Hive3     4
4945  47-000117       48    585.0  590.0  0.370    1.0  Hive3     4

[4946 rows x 8 columns]

In [2]:
# Display cardinalities by fold attribute and queen label for samples with no external perturbation
sql = """
    select distinct fold, queen, count(*)
    from samples
    where nobee = 0
    group by fold, queen
    order by fold
    """
ds.queryDataFrame(sql)

   fold  queen  count(*)
0     1    0.0       149
1     1    1.0     37318
2     2    0.0      9299
3     2    1.0     14784
4     3    0.0     16197
5     3    1.0     27573
6     4    0.0     67124
7     4    1.0      6830