In [1]:
import warnings                            # This block prevents display of harmless warnings, but should be
warnings.filterwarnings('ignore')          # commented out till the final version, to avoid missing "real" warnings

import kilroy_was_here                        # Mandatory. Allow access to shared python code from repository root
from audace.jupytools import iprint           # timstamped (to the ms) print with CPU and RAM consumption information
from audace.audiodataset import AudioDataset  # Class for audio dataset handling
from audace import providers
from audace import transformers
from audace import featurizers


# Path where to find initial annotated dataset (audio and lab files)
SOURCE_PATH ='/Users/jpg/Documents/Nolasco'

# Dataset name is the master key for dataset adressing. Change it according to the
# dataset you wan to generate
DATASET_NAME = 'MAIN1000'

          #############################
########### Initialize Dataset Object #
          #############################
try:
    #By providing a source path,we implicitly indicates that you want to CREATE the data set.
    # Run with a pool of 4 processes
    iprint("Dataset creation. This may take up to 10 mn. Go grab a coffee.")
    ds = AudioDataset(DATASET_NAME, SOURCE_PATH, nprocs=4)
    
except FileExistsError:
    # To allow rerun, we catch the exception in case the dataset was already created.
    # Ideally, you should create the dataset once for all in a dedicated notebook,
    # and then retrieve it from other notebooks when needed
    # Here, by not providing a source path, we implicitly express the intent of RETRIEVING
    # an existing dataset rather than CREATING a new one
    iprint("Failing back to existing dataset retrieval")
    ds = AudioDataset(DATASET_NAME)
    iprint("Dataset retrieved")
    
# Display AudioDataset summary   
ds.info()

          ##################
########### Compute Labels #
          ##################
ds.addLabel("nobee")
ds.addLabel("queen")

# The "queen" label value is deduced from the source file name, using a StringMapper transformer
# This transformer iterates over a list 2-uples (regular expression, target value) and return
# the target value as soon as a match is found. Thus, you must order your list from stricter to looser
trsfrm_queen = transformers.StringMapper(
        [('(?i)active', 1), 
         ('(?i)missing queen', 0),
         ('NO_QueenBee', 0),
         ('QueenBee', 1)     
        ])

# The transformer is then used over the source filenames, using the FromFileName labelizer
# This labelizer does not provide label strength.

n = ds.setLabel('queen', providers.FromFileName(trsfrm_queen))
iprint(n, "samples were processed for 'queen' label")

# The "nobee" label value comes from annotation files, (.lab files using the same base name as the audio
# source file they annotate), using the FromAnnotation labelizer, with no transformation.
# This labelizer takes 2 arguments:
# - a mandatory source path, pointing to the directory where the .lab files reside
# - an optional threshold, allowing to disregard any "label" event with a duration under this treshold
# The label strength over a sample is computed by summing the duration of "label" events (if > th) and dividing
# this sum by the sample duration.

# Here we use a 0.0s threshold
n = ds.setLabel('nobee', providers.FromAnnotation(SOURCE_PATH, th=0.0))
iprint(n, "samples were processed for 'nobee' label")


          ######################
########### Compute Attributes #
          ######################
#The string matcher transformer behave differently than the StringMapper. It uses regexp
# capture group to retrieve part pf a string matching a specific pattern. This can be used
# either for complex or very basic matching. Here we just ask for the five first chars,
# provided they belong to characters valid for identifiers (A-Z, a-z,0-9 and underscore)
ds.addAttribute('hive')
ds.setAttribute('hive', providers.FromFileName(transformers.StringMatcher("^(\w{5})")))


# Compute attribute fold from hive using the Decode Transformer
ds.addAttribute('fold')

e = {'CF001':1, 'CF003':1, 'CJ001':2, 'GH001':2, 'Hive1':3, 'Hive3': 4}
ds.setAttribute('fold', providers.FromQuery('hive', transformers.Decode(e)))


# Display dataset as a pandas dataframe
ds.dumpDataFrame()

[2020-08-22/21:54:30.779|32.2%|73.0%|0.26GB] Dataset creation. This may take up to 10 mn. Go grab a coffee.
[2020-08-22/21:54:30.780|00.0%|73.0%|0.26GB] >>>>> Starting Dataset MAIN0500 build
[2020-08-22/21:54:30.804|43.8%|73.0%|0.26GB] Starting to process 48 audio files.
[2020-08-22/22:03:23.740|62.4%|60.4%|0.08GB] Creating Database
[2020-08-22/22:03:23.961|33.0%|59.7%|0.08GB] Database created
[2020-08-22/22:03:23.973|37.5%|59.6%|0.07GB] Please wait, computing checksum...
[2020-08-22/22:03:42.028|27.1%|61.0%|0.07GB]   Computed checksum 61603b63cae36bf293be9696ecbbf319
[2020-08-22/22:03:42.029|00.0%|61.0%|0.07GB]   Expected checksum 964a87370f449298e0ef681efe6094bb
[2020-08-22/22:03:42.029|00.0%|61.0%|0.07GB] >>>>> Dataset MAIN0500 successfully created.
[2020-08-22/22:03:42.038|25.0%|60.9%|0.07GB] ------------------------------------------------------
[2020-08-22/22:03:42.039|00.0%|60.9%|0.07GB] DATASET NAME          : MAIN0500
[2020-08-22/22:03:42.039|00.0%|60.9%|0.07GB] DATASET PATH          : D:\Jupyter\ShowBees\datasets\MAIN0500
[2020-08-22/22:03:42.039|00.0%|60.9%|0.07GB] DATASET DB PATH       : D:\Jupyter\ShowBees\datasets\MAIN0500\MAIN0500.db
[2020-08-22/22:03:42.039|00.0%|60.9%|0.07GB] DATASET SAMPLES PATH  : D:\Jupyter\ShowBees\datasets\MAIN0500\samples
[2020-08-22/22:03:42.040|00.0%|60.9%|0.07GB] NB SOURCE AUDIO FILES : 48
[2020-08-22/22:03:42.040|00.0%|60.9%|0.07GB] SAMPLE RATE           : 22050
[2020-08-22/22:03:42.040|00.0%|60.9%|0.07GB] DURATION              : 0.5
[2020-08-22/22:03:42.041|00.0%|60.9%|0.07GB] OVERLAP               : 0.0
[2020-08-22/22:03:42.041|00.0%|60.9%|0.07GB] NB AUDIO CHUNKS       : 49579
[2020-08-22/22:03:42.041|00.0%|60.9%|0.07GB] ------------------------------------------------------
[2020-08-22/22:03:42.618|27.0%|59.6%|0.08GB] 49579 samples were processed for 'queen' label

HBox(children=(FloatProgress(value=0.0, description='Annotating nobee', max=48.0, style=ProgressStyle(descript…

[2020-08-22/22:04:00.007|30.6%|60.7%|0.09GB] 49579 samples were processed for 'nobee' label

            name  file_id  start_t  end_t  nobee  queen   hive  fold
0      00-000000        1      0.0    0.5   0.00    0.0  CF001     1
1      00-000001        1      0.5    1.0   0.00    0.0  CF001     1
2      00-000002        1      1.0    1.5   0.00    0.0  CF001     1
3      00-000003        1      1.5    2.0   0.00    0.0  CF001     1
4      00-000004        1      2.0    2.5   0.00    0.0  CF001     1
...          ...      ...      ...    ...    ...    ...    ...   ...
49574  47-001179       48    589.5  590.0   1.00    1.0  Hive3     4
49575  47-001180       48    590.0  590.5   1.00    1.0  Hive3     4
49576  47-001181       48    590.5  591.0   1.00    1.0  Hive3     4
49577  47-001182       48    591.0  591.5   1.00    1.0  Hive3     4
49578  47-001183       48    591.5  592.0   0.94    1.0  Hive3     4

[49579 rows x 8 columns]

In [2]:
# Display cardinalities by fold attribute and queen label for samples with no external perturbation
sql = """
    select distinct fold, queen, count(*)
    from samples
    where nobee = 0
    group by fold, queen
    order by fold
    """
ds.queryDataFrame(sql)

   fold  queen  count(*)
0     1    0.0        28
1     1    1.0      7394
2     2    0.0      1743
3     2    1.0      2886
4     3    0.0      3111
5     3    1.0      5458
6     4    0.0     13273
7     4    1.0      1339