In [11]:
import sqlite3
import pickle
import numpy as np

sqlite3.register_adapter(list, pickle.dumps)
sqlite3.register_adapter(set, pickle.dumps)
sqlite3.register_adapter(dict, pickle.dumps)
sqlite3.register_adapter(np.ndarray, pickle.dumps)
sqlite3.register_converter("feature", pickle.loads)


db = sqlite3.connect("my.db", detect_types=sqlite3.PARSE_DECLTYPES)

c = db.cursor()

c.execute("CREATE TABLE IF NOT EXISTS T(value feature)")


db.close()

In [12]:
import kilroy_was_here
from lib.jupytools import mooltipath
import sqlite3
import pickle
import librosa
from pathlib import Path


def process(sample_path):
    s, sr = librosa.core.load(str(sample_path))
    Melspec = librosa.feature.melspectrogram(s, sr=sr)
    x = librosa.feature.mfcc(S=librosa.power_to_db(Melspec),sr=sr, n_mfcc = 2)    
    return x

o1 = {"chiffres": (0,1,2,3,4,5), "couleurs": (("R", 0), ("V",1) , ("B",2))}

x = process(mooltipath("datasets/MAIN1000/samples/00-000000.wav"))

db = sqlite3.connect("my.db", detect_types=sqlite3.PARSE_DECLTYPES)

c = db.cursor()


y=[1,(2,3),4]

c.execute("INSERT INTO T (value) VALUES(?)", (x, ))

db.commit()

db.close()

x

array([[-452.69193, -455.08923, -466.46518, -480.28445, -477.4826 ,
        -465.8347 , -463.05835, -463.48172, -460.48157, -457.7622 ,
        -453.01703, -459.93237, -476.52795, -484.89096, -486.52045,
        -485.5235 , -486.40564, -492.45282, -493.42245, -494.182  ,
        -503.64307, -500.08875, -487.63   , -489.2316 , -506.24585,
        -519.7111 , -518.30304, -504.3754 , -490.10233, -485.0911 ,
        -492.0853 , -494.24274, -490.73175, -491.99396, -498.64368,
        -494.61444, -493.4582 , -491.57574, -489.15005, -479.20657,
        -475.81195, -480.81857, -484.78366, -490.73123],
       [ 198.46909,  200.0479 ,  199.36531,  195.44127,  195.96677,
         193.33176,  193.8792 ,  197.26573,  197.63016,  197.45801,
         202.73645,  206.96974,  207.88089,  199.82538,  200.16168,
         196.69708,  194.34424,  198.13005,  202.60513,  201.88545,
         198.41425,  198.46327,  200.56671,  204.35332,  203.31627,
         196.56085,  194.63307,  198.95172,  197.97853,  197.69595,
         196.78183,  193.82704,  195.1289 ,  196.67426,  195.94354,
         202.59102,  198.88568,  189.78986,  194.73915,  200.38828,
         198.5223 ,  196.53256,  197.07733,  191.097  ]], dtype=float32)

In [13]:
import sqlite3
import pickle
from contextlib import closing

with closing(sqlite3.connect("my.db", detect_types=sqlite3.PARSE_DECLTYPES)) as db:
    c = db.cursor()
    c.execute("SELECT value FROM T")
    row =c.fetchone()

print(row)

(array([[-452.69193, -455.08923, -466.46518, -480.28445, -477.4826 ,
        -465.8347 , -463.05835, -463.48172, -460.48157, -457.7622 ,
        -453.01703, -459.93237, -476.52795, -484.89096, -486.52045,
        -485.5235 , -486.40564, -492.45282, -493.42245, -494.182  ,
        -503.64307, -500.08875, -487.63   , -489.2316 , -506.24585,
        -519.7111 , -518.30304, -504.3754 , -490.10233, -485.0911 ,
        -492.0853 , -494.24274, -490.73175, -491.99396, -498.64368,
        -494.61444, -493.4582 , -491.57574, -489.15005, -479.20657,
        -475.81195, -480.81857, -484.78366, -490.73123],
       [ 198.46909,  200.0479 ,  199.36531,  195.44127,  195.96677,
         193.33176,  193.8792 ,  197.26573,  197.63016,  197.45801,
         202.73645,  206.96974,  207.88089,  199.82538,  200.16168,
         196.69708,  194.34424,  198.13005,  202.60513,  201.88545,
         198.41425,  198.46327,  200.56671,  204.35332,  203.31627,
         196.56085,  194.63307,  198.95172,  197.97853,  197.69595,
         196.78183,  193.82704,  195.1289 ,  196.67426,  195.94354,
         202.59102,  198.88568,  189.78986,  194.73915,  200.38828,
         198.5223 ,  196.53256,  197.07733,  191.097  ]], dtype=float32),)

In [62]:
db.close()